{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Create a new account</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}

            <button type="submit" class="btn btn-lg btn-primary">
                Sign up
            </button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
