{% extends 'base.html.twig' %}

{% block title %}
	My lists
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="col-12 text-center">
			<h1 class="display-3 fw-bold mb-4 text-text">My Word Lists</h1>
			<div class="filter-box pb-5">
				<h4>For which language ?</h3>
				<div class="btn-group" role="group">
					{% for language in app.user.getLanguages() %}
						{% set isActive = currentLanguage is same as(language) %}
						<a 
							href="{{ path('word_list_index', {'language': language.getIso639()}) }}"
							class="btn btn-secondary {% if isActive %}active{% endif %}"
						>
							{{ language.getName() }}
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row">
			{% if wordLists is empty %}
				<div class="col-12 text-center">
					<h2>You don't have any lists yet for {{ currentLanguage }}.</h2>
					<a href="" class="btn btn-primary mt-3">Create one now</a>
				</div>
			{% else %}
				{% for list in wordLists %}
					<div class="col-md-4 mb-4">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{ list.getName() }}</h5>
								<p class="card-text">{{ list.getLanguage() }}
									({{ list.getWords() | length }}
									words)</p>
								<a href="" class="btn btn-primary">See Words</a>
							</div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
